{%extends 'navbar.html'%}
{%block layout%}
<head>
    <title>Startup - Data</title>
    <link rel="stylesheet" href="../static/main.css">

</head>

    <div class="regStart-wrap">
        <h1>Tell us who you are</h1>
        <table class="regStartable">
            <form action="" method="post">
                <tr>
                    <td class="info"> Email </td>                <td> <input type="email" class="inputBox-regStart" name="email"> </td>
                </tr>
                <tr>
                    <td class="info"> Full Name </td>            <td> <input type="text" class="inputBox-regStart" name="full_name"> </td>
                </tr>
                <tr>
                    <td class="info"> Startup Name </td>         <td> <input type="text" class="inputBox-regStart" name="name"> </td>
                </tr>
                <tr>
                    <td class="info"> Location </td>             <td> <input type="text" class="inputBox-regStart" name="location"> </td>
                </tr>
                <tr>
                    <td class="info"> Startup Category </td>     <td> <input type="text" class="inputBox-regStart" name="category"> </td>
                </tr>
                <tr>
                    <td class="info"> Startup Description </td>  <td> <input type="text" class="inputBox-regStart" name="description"> </td>
                </tr>
                <tr>
                    <td class="info"> Phone number </td>         <td> <input type="text" class="inputBox-regStart" name="phone_number"> </td>
                </tr>
                <tr>
                    <td class="info"> Sex </td>               
                    <td> 
                        <label class="container">Man
                            <input type="radio" checked="checked" name="radio" value="man">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">Woman
                            <input type="radio" name="radio" value="woman">
                            <span class="checkmark"></span>
                        </label>    
                    </td>
                </tr>
                <tr>
                    <td class="info"> Budget/Investment Needed </td>
                    <td> <input type="number" class="inputBox-prefStart" name = "budget_need"> </td>
                </tr>
                <tr>
                    <td class="info"> Company Location </td>
                    <td> <input type="text" class="inputBox-prefStart" name="company_location"> </td>
                </tr>
                <tr>
                    <td class="info"> Return Type </td>
                    <td> <input type="text" class="inputBox-prefStart" name="return_type_startup"> </td>
                </tr>
                <tr>
                    <td class="info"> Other Type of Supports </td>
                    <td>
                        <label class="container">Yes
                            <input type="radio" checked="checked" name="radio" value="yes">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">No
                            <input type="radio"  name="radio" value="no">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="info"> Supports Needed </td>
                    <td> <input type="text" class="inputBox-prefStart" name="support"> </td>
                </tr>
                <tr>
                    <td> <input type="submit" class="submitBtn"></td>
                </tr>
            </form>
        </table>
    </div>
{%endblock layout%}