/*----------------------------------------Navbar------------------------------------------------------*/
.navbar {
  position: relative;
  z-index: 100;
}

.navbar span.background {
  position: fixed;
  top: 0%;
  left: 0%;

  width: 100%;
  height: 86px;

  background: linear-gradient(269.8deg, #23005c 0%, #760166 100%);
}

.navbar a {
  position: fixed;

  font-family: Montserrat;
  font-style: normal;
  text-decoration: none;

  color: #ffffff;
}

.navbar a.up {
  left: 2%;
  top: 1%;

  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
}

.navbar .searchbar {
  position: fixed;
}

.navbar .searchbar span.background {
  top: 1.5%;
  left: 42%;

  width: 320px;
  height: 46px;

  background: #ffffff;
  border-radius: 25px;
}

.navbar .searchbar input {
  position: fixed;
  top: 2.5%;
  left: 43%;

  width: 286px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  background-color: transparent;
  border: none;
  outline: none;
}

.navbar .right a {
  top: 3%;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.navbar .right a.investors {
  right: 20%;
}

.navbar .right a.startups {
  right: 11%;
}

.navbar .right a.login {
  right: 4%;
}


/*----------------------------------------Home-------------------------------------------------------*/
.homeBG{
  width: 100%;
  height: 67vh;
}

.homeBG .ungu{
  position: absolute;
  width: 100%;
  height: 67vh;
  left: 0px;
  top: 0px;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.homeBG .orgrapat {
  position: absolute;
  width: 100%;
  height: 67vh;
  left: 0px;
  top: 0px;
  background: url("./images/BGOrangRapat.png");
  background-size: cover;
}

.homeBG .homeBG-container {
  position: relative;
  height: 100%;
  width: 94vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5vw;
}

.homeBG h1{
  font-size: larger;
  margin: 0;
  font-family: Margaret;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  
  color: #FFFFFF;
}

.homeBG h2{
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;

  color: #FFFFFF;
}

.homeBG a{
  width: 233px;
  height: 3em;
  margin-top: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 66px;
  color: black;
  text-align: center;

  background: #FFFFFF;
  border-radius: 10px;
}


.underBG {
  margin: 0 5vw;
  height: 33vh;
}

.underBG h2{

  font-family: Margaret;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;

  color: #000000;
}

.underBG h3{

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.rollingbox{
  position: relative;
  width: 100%;
  height: 50vh;

  background: #760166;
}

.rollingbox h2{
  position: absolute;
  width: 960px;
  height: 58px;
  left: 89px;
  top: 40px;

  font-family: Margaret;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;

  color: #FFFFFF;
}

.bottom .reginvestor{
  position: absolute;
  width: 721px;
  height: 200px;
  left: -1px;
  top: 2252px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 200px;
  color: #ffffff;
  text-align: center;

  background: #760166;
}

.bottom .regstartup{
  position: absolute;
  width: 721px;
  height: 200px;
  left: 720px;
  top: 2252px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 200px;
  color: #ffffff;
  text-align: center;

  background: #760166; 
}

.separator{
  position: absolute;
  width: 142px;
  height: 0px;
  left: 640px;
  top: 2354px;

  border: 5px solid white;
  transform: rotate(90deg);
}

.endsquare{
  position: absolute;
  width: 1440px;
  height: 291px;
  left: 0px;
  top: 2452px;

  background: linear-gradient(229.27deg, #24005C 25.69%, #760166 72.16%);
}
/*----------------------------------------login-------------------------------------------------------*/
*{
  font-family: 'Ubuntu', sans-serif;
}
.mycontainer{
  background-color: black;
  color: rgb(255, 255, 255);
  width: 300px;
  height: 200px;
  text-align: center;
  padding-top: 40px;
  border-radius: 10px;

  background-color:rgb(134, 40, 126);
  background-size:cover;
  background-position: center;
}
.wrapLogin{
  width: 300px;
  margin-top: 125px;
  margin-left: auto; 
  margin-right: auto; 
}
.mybtn{
  width: 300px;
  height: 50px;
  border-radius: 8px;
  background-color: rgb(134, 40, 126);
  color: white;
}
.loginTable{
  border-collapse: separate;
  border-spacing: 0 15px;
}        
.inputBoxLogin{
  width: 210px;
  margin-left: 10px;
  border-radius: 4px;
}

/*----------------------------------------register Investor-------------------------------------------------------*/
a{
  color: white;
  text-decoration: none;
}
.regInvestable{
  margin-left: 45px;
  border-collapse: separate;
  border-spacing: 0 20px;
}
.info{
  text-align: right;
  font-weight: bold;
}
.inputBox-regInv{
  background-color:rgb(177, 92, 170);
  color: white;

  width: 250px;
  height: 30px;
  margin-left: 20px;
  border-radius:8px;
}

.regInv-wrap{
  width: 500px;
  margin-top: 150px;
  margin-left: auto; 
  margin-right: auto; 
}

/*----------------------------------------preference Investor-------------------------------------------------------*/
.prefInv-table{
  border-collapse: separate;
  border-spacing: 0 20px;
}

.inputBox-prefInv{
  background-color:rgb(177, 92, 170);
  color: white;

  width: 250px;
  height: 30px;
  margin-left: 20px;
  border-radius:8px;
}

.prefInv-wrap{
  width: 520px;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: auto; 
  margin-right: auto; 
}

.submitBtn{
  width: 60px;
  height: 30px;    
  position: relative;
  top: 20px;
  left: 450px;

  color: white;
  background-color:rgb(134, 40, 126);
  border-radius: 8px;
}

/*-----------------------------------------register Startup--------------------------------------------------------*/
a{
  color: white;
  text-decoration: none;
}
.regStartable{
  border-collapse: separate;
  border-spacing: 0 20px;
}
.info{
  text-align: right;
  font-weight: bold;
}
.inputBox-regStart{
  background-color:rgb(177, 92, 170);
  color: white;

  width: 250px;
  height: 30px;
  margin-left: 20px;
  border-radius:8px;
}
.nextButton{
  width: 60px;
  height: 30px;    
  position: relative;
  top: 30px;
  left: 400px;

  color: white;
  text-decoration: none;
  background-color:rgb(134, 40, 126);
  border-radius: 8px;
}
.regStart-wrap{
  width: 500px;
  margin-top: 125px;
  margin-left: auto; 
  margin-right: auto; 
}
/*-------------------------------------preference Startup----------------------------------------------------------*/
.prefStart-table{
  border-collapse: separate;
  border-spacing: 0 20px;
}
.info{
  text-align: right;
  font-weight: bold;
}
.inputBox-prefStart{
  background-color:rgb(177, 92, 170);
  color: white;

  width: 250px;
  height: 30px;
  margin-left: 20px;
  border-radius:8px;
}
.nextButton{
  width: 60px;
  height: 30px;    
  position: relative;
  top: 30px;
  left: 400px;

  color: white;
  background-color:rgb(134, 40, 126);
  border-radius: 8px;
}
.prefStart-wrap{
  width: 520px;
  margin-top: 125px;
  margin-left: auto; 
  margin-right: auto; 
}
.backBtn{
  width: 60px;
  height: 30px;    
  position: relative;
  top: 30px;
  left: 150px; 

  color: white;
  text-decoration: none;
  background-color:rgb(134, 40, 126);
  border-radius: 8px;
}

.startBtn{
  width: 60px;
  height: 30px;    
  position: relative;
  top: 30px;
  left: 300px;

  color: white;
  background-color:rgb(134, 40, 126);
  border-radius: 8px;
}
.container {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  font-weight: bold;
  margin-left: 20px;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.container input:checked ~ .checkmark {
  background-color: rgb(177, 92, 170);
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  top: 9px;
 left: 9px;
 width: 8px;
 height: 8px;
 border-radius: 50%;
 background: white;
}
/*----------------------------------------Search and Filters-------------------------------------------------------*/

.logo {
  position: fixed;
  width: 214px;
  height: 60px;
  left: 28px;
  top: 93px;
  

  font-family: Margaret;
  font-style: normal;
  font-weight: 600;
  font-size: 47px;
  line-height: 57px;

  
  margin: auto;
  
  color: #000000;
}

.tags {
  position: fixed;
  width: 70px;
  height: 40px;
  right: 94px;
  top: 240px;

  font-family: Margaret;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;

  color: #000000;
}

.category {
  float: right;
}
.category .electronics {
  position: fixed;
  cursor: pointer;
  border: none;
  width: 190px;
  height: 28px;
  right: 37px;
  top: 306px;

  background: rgba(118, 1, 102, 0.5);
  border-radius: 5px;
  transition: 0.4s ease;
}

.category .electronics a{
  width: 128px;
  height: 30px;
  left: 1208px;
  top: 305px;

  font-family: Margaret;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;

  color: #000000;
}

.category .electronics:hover{
  background: #760166;
  color: #7F2CCB;
}

.category .food {
  cursor: pointer;
  border: none;
  position: fixed;
  width: 190px;
  height: 28px;
  right: 37px;
  top: 346px;

  background: rgba(118, 1, 102, 0.5);
  border-radius: 5px;
  transition: 0.4s ease;
}

.category .food a{
  width: 164px;
  height: 23px;
  left: 1193px;
  top: 346px;

  font-family: Margaret;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;

  color: #000000;
}

.category .food:hover{
  background: #760166;
  color: #7F2CCB;
}

.category .game {
  position: fixed;
  border: none;
  cursor: pointer;
  width: 190px;
  height: 28px;
  right: 37px;
  top: 386px;

  background: rgba(118, 1, 102, 0.5);
  border-radius: 5px;
  transition: 0.4s ease;
}

.category .game a{
  width: 70px;
  height: 30px;
  left: 1237px;
  top: 385px;

  font-family: Margaret;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;

  color: #000000;
}

.category .game:hover {
  background: #760166;
  color: #7F2CCB;
}

.category .clothing {
  position: fixed;
  cursor: pointer;
  border: none;
  width: 190px;
  height: 28px;
  right: 37px;
  top: 426px;

  background: rgba(118, 1, 102, 0.5);
  border-radius: 5px;
  transition: 0.4s ease;
}

.category .clothing a {
  width: 99px;
  height: 30px;
  left: 1222px;
  top: 425px;

  font-family: Margaret;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;

  color: #000000;
}

.category .clothing:hover {
  background: #760166;
  color: #7F2CCB;
}

.isi {
  margin-top: 120px;
}

.list {
  text-align: center;
}

.list ul {
  list-style-type: none;
}

.list ul li {
  cursor: pointer;
  margin: 25px;
  width: 750px;
  height: 90px;
  margin-left: auto; 
  margin-right: auto; 
  overflow: hidden;
  background: #996a93;
  border-radius: 10px;
}

.list ul li a{
  text-decoration: none;
  text-align: center;
  line-height: 92px;
  
  font-size: bold;
  font-weight: bold;
  font-family: Margaret;
  
  color: #ffffff;
  transition: 0.4s ease;
}

.list ul li:hover {
  background: #2e005e;
  transition: 0.4s ease;
}

/*--------------------------------------------Tags - Clothing----------------------------------------------------------*/
.category .electronics1 {
  position: fixed;
  cursor: pointer;
  border: none;
  width: 190px;
  height: 28px;
  right: 37px;
  top: 306px;

  background: #760166;
  border-radius: 5px;
}

.category .electronics1 a{
  width: 128px;
  height: 30px;
  left: 1208px;
  top: 305px;
  

  font-family: Margaret;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;

  color: #ffffff;
}

.category .clothing1 {
  position: fixed;
  cursor: pointer;
  border: none;
  width: 190px;
  height: 28px;
  right: 37px;
  top: 426px;

  background: #760166;
  border-radius: 5px;
}

.category .clothing1 a {
  width: 99px;
  height: 30px;
  left: 1222px;
  top: 425px;

  font-family: Margaret;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;

  color: #ffffff;
}

.category .food1 {
  cursor: pointer;
  border: none;
  position: fixed;
  width: 190px;
  height: 28px;
  right: 37px;
  top: 346px;

  background: #760166;
  border-radius: 5px;
}

.category .food1 a{
  width: 164px;
  height: 23px;
  left: 1193px;
  top: 346px;

  font-family: Margaret;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;

  color: #ffffff;
}

.category .game1 {
  position: fixed;
  border: none;
  cursor: pointer;
  width: 190px;
  height: 28px;
  right: 37px;
  top: 386px;

  background: #760166;
  border-radius: 5px;
  transition: 0.4s ease;
}

.category .game1 a{
  width: 70px;
  height: 30px;
  left: 1237px;
  top: 385px;

  font-family: Margaret;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;

  color: #ffffff;
}