/*----------------------------------------Navbar------------------------------------------------------*/
.navbar {
  position: relative;
  z-index: 100;
}

.navbar span.background {
  position: fixed;
  top: 0%;
  left: 0%;

  width: 100%;
  height: 86px;

  background: linear-gradient(269.8deg, #23005c 0%, #760166 100%);
}

.navbar a {
  position: fixed;

  font-family: Montserrat;
  font-style: normal;
  text-decoration: none;

  color: #ffffff;
}

.navbar a.up {
  left: 2%;
  top: 1%;

  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
}

.navbar .searchbar {
  position: fixed;
}

.navbar .searchbar span.background {
  top: 1.5%;
  left: 42%;

  width: 320px;
  height: 46px;

  background: #ffffff;
  border-radius: 25px;
}

.navbar .searchbar input {
  position: fixed;
  top: 2.5%;
  left: 43%;

  width: 286px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  background-color: transparent;
  border: none;
  outline: none;
}

.navbar .right a {
  top: 3%;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.navbar .right a.investors {
  right: 20%;
}

.navbar .right a.startups {
  right: 11%;
}

.navbar .right a.login {
  right: 4%;
}


/*----------------------------------------Home-------------------------------------------------------*/
.homeBG{
  position: absolute;
  width: 1440px;
  height: 682px;
  left: 0px;
  top: 0px;
}

.homeBG .ungu{
  position: absolute;
  width: 1440px;
  height: 682px;
  left: 0px;
  top: 0px;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.homeBG h1{
  position: absolute;
  width: 885px;
  height: 86px;
  left: 89px;
  top: 222px;

  font-family: Margaret;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  
  color: #FFFFFF;
}

.homeBG h2{
  position: absolute;
  width: 989px;
  height: 44px;
  left: 89px;
  top: 319px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;

  color: #FFFFFF;
}

.homeBG a{
  position: absolute;
  width: 233px;
  height: 66px;
  left: 89px;
  top: 395px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 66px;
  color: black;
  text-align: center;

  background: #FFFFFF;
  border-radius: 10px;
}

.underBG h2{
  position: absolute;
  width: 616px;
  height: 59px;
  left: 89px;
  top: 744px;

  font-family: Margaret;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;

  color: #000000;
}

.underBG h3{
  position: absolute;
  width: 1259px;
  height: 153px;
  left: 89px;
  top: 806px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.bottom .reginvestor{
  position: absolute;
  width: 721px;
  height: 200px;
  left: -1px;
  top: 2252px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 200px;
  color: #ffffff;
  text-align: center;

  background: #760166;
}

.bottom .regstartup{
  position: absolute;
  width: 721px;
  height: 200px;
  left: 720px;
  top: 2252px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 200px;
  color: #ffffff;
  text-align: center;

  background: #760166; 
}

.separator{
  position: absolute;
  width: 142px;
  height: 0px;
  left: 640px;
  top: 2354px;

  border: 5px solid white;
  transform: rotate(90deg);
}

.endsquare{
  position: absolute;
  width: 1440px;
  height: 291px;
  left: 0px;
  top: 2452px;

  background: linear-gradient(229.27deg, #24005C 25.69%, #760166 72.16%);
}
/*----------------------------------------login-------------------------------------------------------*/
*{
  font-family: 'Ubuntu', sans-serif;
}
.mycontainer{
  background-color: black;
  color: rgb(255, 255, 255);
  width: 300px;
  height: 200px;
  text-align: center;
  padding-top: 40px;
  border-radius: 10px;

  background-color:rgb(134, 40, 126);
  background-size:cover;
  background-position: center;
}
.wrapLogin{
  width: 300px;
  margin-top: 125px;
  margin-left: auto; 
  margin-right: auto; 
}
.mybtn{
  width: 300px;
  height: 50px;
  border-radius: 8px;
  background-color: rgb(134, 40, 126);
  color: white;
}
.loginTable{
  border-collapse: separate;
  border-spacing: 0 15px;
}        
.inputBoxLogin{
  width: 210px;
  margin-left: 10px;
  border-radius: 4px;
}

/*----------------------------------------register Investor-------------------------------------------------------*/
a{
  color: white;
  text-decoration: none;
}
.regInvestable{
  border-collapse: separate;
  border-spacing: 0 20px;
}
.info{
  text-align: right;
  font-weight: bold;
}
.inputBox-regInv{
  background-color:rgb(177, 92, 170);
  color: white;

  width: 250px;
  height: 30px;
  margin-left: 20px;
  border-radius:8px;
}
.nextButton{
  width: 60px;
  height: 30px;    
  position: relative;
  top: 30px;
  left: 400px;

  color: white;
  text-decoration: none;
  background-color:rgb(134, 40, 126);
  border-radius: 8px;
}
.regInv-wrap{
  width: 500px;
  margin-top: 125px;
  margin-left: auto; 
  margin-right: auto; 
}

/*----------------------------------------preference Investor-------------------------------------------------------*/
.prefInv-table{
  border-collapse: separate;
  border-spacing: 0 20px;
}
.info{
  text-align: right;
  font-weight: bold;
}
.inputBox-prefInv{
  background-color:rgb(177, 92, 170);
  color: white;

  width: 250px;
  height: 30px;
  margin-left: 20px;
  border-radius:8px;
}
.nextButton{
  width: 60px;
  height: 30px;    
  position: relative;
  top: 30px;
  left: 400px;

  color: white;
  background-color:rgb(134, 40, 126);
  border-radius: 8px;
}
.prefInv-wrap{
  width: 520px;
  margin-top: 125px;
  margin-left: auto; 
  margin-right: auto; 
}
.backBtn{
  width: 60px;
  height: 30px;    
  position: relative;
  top: 30px;
  left: 150px; 

  color: white;
  text-decoration: none;
  background-color:rgb(134, 40, 126);
  border-radius: 8px;
}

.startBtn{
  width: 60px;
  height: 30px;    
  position: relative;
  top: 30px;
  left: 300px;

  color: white;
  background-color:rgb(134, 40, 126);
  border-radius: 8px;
}