/*----------------------------------------Navbar------------------------------------------------------*/
.navbar {
  position: relative;
}

.navbar span.background {
  position: fixed;
  top: 0%;
  left: 0%;

  width: 100%;
  height: 86px;

  background: linear-gradient(269.8deg, #23005c 0%, #760166 100%);
}

.navbar a {
  position: fixed;

  font-family: Montserrat;
  font-style: normal;
  text-decoration: none;

  color: #ffffff;
}

.navbar a.up {
  left: 2%;
  top: 1%;

  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
}

.navbar .searchbar {
  position: fixed;
}

.navbar .searchbar span.background {
  top: 1.5%;
  left: 37%;

  width: 390px;
  height: 46px;

  background: #ffffff;
  border-radius: 25px;
}

.navbar .searchbar input {
  position: fixed;
  top: 2.5%;
  left: 38%;

  width: 345px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  background-color: transparent;
  border: none;
  outline: none;
}

.navbar .right a {
  top: 3%;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.navbar .right a.investors {
  right: 20%;
}

.navbar .right a.startups {
  right: 11%;
}

.navbar .right a.login {
  right: 4%;
}


/*----------------------------------------login-------------------------------------------------------*/
*{
  font-family: 'Ubuntu', sans-serif;
}
.mycontainer{
  background-color: black;
  color: rgb(255, 255, 255);
  width: 300px;
  height: 200px;
  text-align: center;
  padding-top: 40px;
  border-radius: 10px;

  background-color:rgb(134, 40, 126);
  background-size:cover;
  background-position: center;
}
.wrap{
  width: 300px;
  margin-top: 125px;
  margin-left: auto; 
  margin-right: auto; 
}
.mybtn{
  width: 300px;
  height: 50px;
  border-radius: 8px;
  background-color: rgb(134, 40, 126);
  color: white;
}
table{
  border-collapse: separate;
  border-spacing: 0 15px;
}        
.inputBox{
  width: 210px;
  margin-left: 10px;
  border-radius: 4px;
}