{%extends 'navbar.html'%}
{%block layout%}
<head>
    <title>Login to Uplinked</title>
    <link rel="stylesheet" href="../static/main.css">

</head>
    <div class="wrapLogin">
        <div class="mycontainer">
            <h1> Login Page </h1>
            <p> Type your Email and Password </p>
        </div>
        
        <table class="loginTable">
            <tr>
                <td> Email       </td> <td> <input type="text" class="inputBoxLogin" /> </td>
            </tr>
            <tr>
                <td> Password    </td> <td> <input type="text" class="inputBoxLogin" /> </td>
            </tr>
        </table>

        <button class="mybtn">Login</button>
    </div>
{%endblock layout%}