<!DOCTYPE html>
<html lang="en">
  <head>
    <!--bagian ini sampe next notice itu uda otomatis dibikin ama VSCodenya-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uplinked</title>
    <!--sampai bagian ini auto dibikin-->
    <link rel="stylesheet" type="text/css" href=../static/main.css />
  </head>
  <body>
    <div class="navbar">
      <span class="background"></span>
    </div>
  </body>
</html>
