<!DOCTYPE html>
<html lang="en">
  <head>
    <!--bagian ini sampe next notice itu uda otomatis dibikin ama VSCodenya-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uplinked</title>
    <!--sampai bagian ini auto dibikin-->
    <!--ini buat link ke CSS-->
    <link rel="stylesheet" type="text/css" href=../static/main.css />
    <!--ini buat link ke font style-->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="navbar">
      <span class="background"></span>
      <a class="up" href="iniDiIsiLinkHomePage">UP</a>
      <div class="searchbar">
        <span class="background"></span>
        <input type="text" placeholder="Search..." />
      </div>
      <div class="right">
        <a class="investors" href="iniDiIsiLinkInvestor">Investors</a>
        <a class="startups" href="iniDiIsiLinkStartUps">Startups</a>
        <a class="login"  href="{{url_for('login')}}"">Login</a>
      </div>
    </div>
    {% block layout %}{% endblock layout %}
  </body>
</html>
