{%extends 'navbar.html'%}
{%block layout%}
<head>
    <title>Investor - Preference</title>
    <link rel="stylesheet" href="../static/main.css">

</head>

    <div class="prefInv-wrap">
        <h1>Tell us what you want</h1>
        <table class="prefInv-table">
            <tr>
                <td class="info"> Category Preference </td>                <td> <input type="email" class="inputBox-prefInv"> </td>
            </tr>
            <tr>
                <td class="info"> Investing Budget </td>             <td> <input type="text" class="inputBox-prefInv"> </td>
            </tr>
            <tr>
                <td class="info"> Location of Startup </td>              <td> <input type="text" class="inputBox-prefInv"> </td>
            </tr>
            <tr>
                <td class="info"> Number of People in the Team </td> <td> <input type="text" class="inputBox-prefInv"> </td>
            </tr>
            <tr>
                <td class="info"> Development Stage </td>         <td> <input type="text" class="inputBox-prefInv"> </td>
            </tr>
            <tr>
                <td class="info"> Return Type </td>               <td> <input type="text" class="inputBox-prefInv"> </td>
            </tr>

        </table>
        <button class="backBtn">
            <a href="{{url_for('regis_investor')}}">Back</a> 
        </button>
        <button class="startBtn">
            <a>Start</a>
        </button>
    </div>
{%endblock layout%}