{%extends 'navbar.html'%}
{%block layout%}
<head>
    <title>Investor - Data</title>
    <link rel="stylesheet" href="../static/main.css">

</head>

    <div class="regInv-wrap">
        <h1>Tell us who you are</h1>
        <table class="regInvestable">
            <form action="" method="post">
                <tr>
                    <td class="info"> Email </td>                <td> <input type="email" class="inputBox-regInv" name = "email"> </td>
                </tr>
                <tr>
                    <td class="info"> Forename </td>             <td> <input type="text" class="inputBox-regInv" name = "forename"> </td>
                </tr>
                <tr>
                    <td class="info"> Surname </td>              <td> <input type="text" class="inputBox-regInv" name = "surname"> </td>
                </tr>
                <tr>
                    <td class="info"> Company/Organization </td> <td> <input type="text" class="inputBox-regInv" name = "company_name"> </td>
                </tr>
                <tr>
                    <td class="info"> Phone number </td>         <td> <input type="text" class="inputBox-regInv" name = "phone_number"> </td>
                </tr>
                <tr>
                    <td class="info"> Gender </td>               <td> <input type="text" class="inputBox-regInv" name = "gender"> </td>
                </tr>
            </form>
        </table>

    </div>

    <div class="prefInv-wrap">
        <h1>Tell us what you want</h1>
        <table class="prefInv-table">
            <form action = "" method="post">
                <tr>
                    <td class="info"> Category Preference </td>
                    <td> <input type="text" class="inputBox-prefInv" name="category_pref"> </td>
                </tr>
                <tr>
                    <td class="info"> Investing Budget </td>
                    <td> <input type="text" class="inputBox-prefInv" name="budget"> </td>
                </tr>
                <tr>
                    <td class="info"> Location of Startup </td>
                    <td> <input type="text" class="inputBox-prefInv" name="location"> </td>
                </tr>
                <tr>
                    <td class="info"> Number of People in the Team </td>
                    <td> <input type="text" class="inputBox-prefInv" name="team_amount"> </td>
                </tr>
                <tr>
                    <td class="info"> Development Stage </td>
                    <td> <input type="text" class="inputBox-prefInv" name="dev_stage"> </td>
                </tr>
                <tr>
                    <td class="info"> Return Type </td>
                    <td> <input type="text" class="inputBox-prefInv" name="return_type_invest"> </td>
                </tr>
                <tr>
                    <input type="submit" class = "submitBtn">
                </tr>
            </form>
        </table>
    </div>
{%endblock layout%}