{%extends 'navbar.html'%}
{%block layout%}
<head>
    <title>Uplinked - Startups</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <h1 class="logo">Investors</h1>
    <h2 class="tags">Tags</h2>

    <div class="category">
        <button class="fintech"><a href="{{url_for('fintech')}}">FinTech</a></button>
        <button class="education"><a href="{{url_for('education')}}">Education</a></button>
        <button class="service"><a href="{{url_for('service')}}">Service</a></button>
        <button class="agriculture"><a href="{{url_for('agriculture')}}">Agriculture</a></button>
        <button class="technology1"><a href="{{url_for('technology')}}">Technology</a></button>
    </div>
    <div class='isi'>
        <div class='list'>
            <ul>    
                <li><a href="#">Technology 1</a></li>
                <li><a href="#">Technology 2</a></li>
            </ul>
        </div>
    </div>
</body>
{%endblock layout%}